<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <div class="container">
      <img class="logo" alt="logo" src="../../assets/imagenes/logo.png">
      <ion-avatar>
        <img alt="Silhouette of a person's head" [src]="profile.photo || '../../assets/imagenes/avatar.jpeg'" />
      </ion-avatar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of cartItems">
      <ion-thumbnail slot="start">
        <img [src]="item.image" alt="{{ item.name }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
        <div class="price-quantity">
          <p class="price">{{ item.price | currency }}</p>
          <p class="quantity">x {{ item.quantity }}</p>
        </div>
      </ion-label>
      <ion-button color="danger" (click)="removeFromCart(item)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
  <ion-footer>
    <ion-item>
      <ion-label class="total-label">Total</ion-label>
      <ion-note>{{ getTotal() | currency }}</ion-note>
    </ion-item>
    <ion-button expand="block" color="success" (click)="pay()">Pagar</ion-button>
  </ion-footer>
</ion-content>


