ion-toolbar{
    background-color: var(--ion-color-mycolor); 
    color: azure;
}

ion-content.fonthome {
    --background: url("../../assets/imagenes/home.png") no-repeat center center/auto;
  
  }

 