.container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.logo {
  width: 10%;
  height: 10%;
  margin-left: 60px;
}

ion-avatar {
  margin-left: 70px; /* Ajusta el margen a la derecha del avatar */
}

h2 {
  color: #19422d; /* Cambia el color del título */
  padding: 10px; /* Ajusta el relleno según sea necesario */
  text-align: center; /* Centra el texto horizontalmente */
}

ion-toolbar {
  background-color: var(--ion-color-mycolor);
  color: azure;
}

div.container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Ajusta el centrado horizontal */
  align-items: center;
}

.logo {
  width: 10%;
  height: 10%;
}

ion-searchbar.custom {
  --background: hsl(149, 45%, 18%);
  --color: #fff;
  --placeholder-color: #fff;
  --icon-color: #fff;
  --clear-button-color: #fff;
  --border-radius: 4px;
}

ion-searchbar.ios.custom {
  --cancel-button-color: #19422d;
}

ion-searchbar.md.custom {
  --cancel-button-color: #fff;
}

div.buscador {
  margin-top: 3%;
}

.toolbar-title {
  width: 0%;
}

.text {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.migapan {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(232, 239, 245);
}

.tex {
  margin: 4%;
}

@media (max-width: 600px) {
  .container .logo {
    width: 25vw; /* Ajusta el tamaño para pantallas más pequeñas */
  }


  .container ion-avatar {
    width: 11vw; /* Ajusta el tamaño para pantallas más pequeñas */
    height: 11vw; /* Asegúrate de que el ancho y alto sean iguales */
  }
}

ion-toolbar {
  background-color: var(--ion-color-mycolor);
  color: azure;
}



.info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.info-card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  background-color: #edefef;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

ion-card {
  --background: #19422d;
  --color: #080909;
}

ion-card-title {
  --color: #080909;
}

ion-card-content {
  --color: #080909;
}
