.container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.logo {
  width: 10%;
  height: 10%;
  margin-left: 60px;
}

ion-avatar {
margin-left: 70px; /* Ajusta el margen a la derecha del avatar */
}

/* Asegúrate de que los estilos de la franja verde se apliquen correctamente */
h2 {
  color: white;
  padding: 10px; /* Ajusta el relleno según sea necesario */
  text-align: center; /* Centra el texto horizontalmente */
}

ion-toolbar {
  background-color: var(--ion-color-mycolor);
  color: azure;
}



.logo {
  width: 10%;
  height: 10%;
}

/* Scoped components require higher specificity to customize */
ion-searchbar.custom {
  --background: hsl(149, 45%, 18%);
  --color: #fff;
  --placeholder-color: #fff;
  --icon-color: #fff;
  --clear-button-color: #fff;
  --border-radius: 4px;
}

ion-searchbar.ios.custom {
  --cancel-button-color: #19422d;
}

ion-searchbar.md.custom {
  --cancel-button-color: #fff;
}

div.buscador {
  margin-top: 3%;
}

.toolbar-title {
  width: 0%;
}

.text {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.migapan {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(232, 239, 245);
}

.tex {
  margin: 4%;
}

@media (max-width: 600px) {
  .container .logo {
    width: 25vw; /* Ajusta el tamaño para pantallas más pequeñas */
  }

  .container ion-avatar {
    width: 11vw; /* Ajusta el tamaño para pantallas más pequeñas */
    height: 11vw; /* Asegúrate de que el ancho y alto sean iguales */
  }
}

.restaurant-item {
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interior */
  margin-bottom: 10px; /* Espacio entre los ítems */
  position: relative; /* Para posicionar el botón de pedir domicilio */
  color: white; /* Color del texto dentro de la caja */
}

.restaurant-container {
  display: flex;
  flex-direction: column; /* Cambia a columna para que la imagen quede arriba */
  align-items: center;
  background-color: #19422d; /* Fondo gris claro */
  padding: 10px; /* Añade un poco de espacio interior */
  margin-bottom: 10px; /* Espacio entre los ítems */
  border: 1px solid #c5c3c3; /* Borde gris claro */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  width: 100%;
}

.restaurant-thumbnail {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: auto; /* Ajusta la altura automáticamente */
  margin-bottom: 5px; /* Reducir el espacio entre la imagen y el texto */
}

.restaurant-thumbnail img {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: auto; /* Ajusta el alto automáticamente para mantener la proporción */
  border-radius: 8px 8px 0 0; /* Bordes redondeados solo en la parte superior */
}

.restaurant-details {
  width: 100%; /* Asegura que los detalles ocupen todo el ancho disponible */
  background-color: #f8f8f8; /* Fondo gris claro */
  border-radius: 0 0 8px 8px; /* Bordes redondeados solo en la parte inferior */
  padding: 5px; /* Reducir el espaciado interior */
  color: black; /* Color del texto dentro del contenedor */
  text-align: center; /* Centrar el texto horizontalmente */
}

.restaurant-details p {
  margin: 5px 0; /* Reducir los márgenes superior e inferior de los párrafos */
}

.pedido-button {
  margin-top: 5px; /* Reducir el margen superior para el botón */
  width: 100%; /* Botón ocupa el 100% del ancho del contenedor */
}
